@import url('https://fonts.googleapis.com/css2?family=Anta&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

.heading {
    background-color: rgb(244, 153, 42);
    padding: 1vmin 0;
    font-size: 6vmin;
    text-align: center;
    text-decoration: underline;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid black;
    ;
}


.container {
    background-color: rgb(255, 255, 255);
    margin: 2% auto;
    min-height: 85vmin;
    width: min(70vmin,80%);
    border: 1px solid black;
    box-shadow: 2px 2px 5px 2px black;
}

.blockheading {
    font-size: 6vmin;
    width: 100%;
    background-color: rgb(239, 151, 57);
    padding: 2% 0;
    text-align: center;
    font-family: "Protest Riot";
    font-style: italic;
}

.input {
    width: 100%;
    text-align: center;
    margin: 4% 0%;
}

.inputvalue {
    width: 90%;
    height: 6vmin;
    outline: none;
    border: none;
    background-color: lavender;
    font-size: 5vmin;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: .02px solid rgb(160, 13, 13);
    border-radius: 4px;
    box-shadow: 2px 2px 2px black;
}


.inputvalue::placeholder {
    text-align: center;
    opacity: .3;
}

.inputamt {
    max-width: 50vmin;
}

.exchange {
    display: flex;
    justify-content: space-between;
    height: 7%;
    padding: 2.5%;
    align-items: center;
}

.icon_img {

    width: 3vmin;
}

.flag {
    max-width: 6vmin;
}

.fromdiv,
.todiv {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: .5vmin 1vmin;
    width: 22vmin;
    max-height: 8vmin;
}

.moreinfo {
    margin-inline: auto;
    width: 80%;
    height: 4vmin;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.infobtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.7vmin;
    text-decoration: underline;
}

.infobtn:hover {
    color: blue;
}

.infobtn:active {
    color: rgb(255, 0, 0);
}
.SearchByCountry{
    width:96%;
    height:10vmin;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.country{
    outline: none;
    font-size:3vmin;
    width:27vmin;
    height:7vmin;
    border:1px solid black;
    border-radius:10px;
    background:none;
}
.btndiv {
    margin-top: 4%;
    text-align: center;
}

.btn {
    padding: 2% 4%;
    border-radius: 10px;
    border: none;
    background-color: #ffa000;
    box-shadow: 2px 2px 2px 0px black;
    cursor: pointer;
    font-size: 3vmin
}

.btn:active {
    transform: scale(.8);
    box-shadow: -3px -2px 3px 0px #ff0000;
    color: rgb(255, 255, 255);
}

.additional_info {
    padding: 2%;
    position: relative;
    text-transform: capitalize;

}
.info{
    margin-top:3vmin;
    display: grid;
    position:absolute;
    top:20%;
    left:calc(50% - 1/2*(90%));
    margin:auto;
    width:90%;
    column-gap:2vmin;
    row-gap:1vmin;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size:3vmin;
    visibility:collapse;
}
.infoheading{
    font-weight:bold;
    font-style:italic;
    text-decoration: underline;
}
.quote {
    margin-top:2vmin;
    text-transform: capitalize;
    text-align: center;
    font-size: 3.5vmin;
}
.selectfrom,
.selectto {
    min-height: 4vmin;
    min-width: 8vmin;
    font-size: 2.5vmin;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
}


footer p {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 2.5vmin;
}

.outputAmt {
    width: 80%;
    margin: auto;
    background-color: lavender;
    font-size: 4vmin;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: .02px solid rgb(160, 13, 13);
}